<html>
<head>
  <title>YellowStone</title>
  <!-- HERE API Code Libraries -->
  <meta name="viewport" content="initial-scale=1.0,
  width=device-width" />
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  type="text/javascript" charset="utf-8"></script>
  <!-- UI for the generated map -->
  <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
            type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css"
            href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

  <!-- Bootsrap 4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <!-- My custom CSS -->
  <link rel="stylesheet" href="/stylesheets/main.css">

  <!-- Font and icons -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/8ab3c96a62.js" crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">YellowStone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= typeof page !== 'undefined' && page == 'campgrounds' ? 'active' : '' %>">
          <a class="nav-link"href="/campgrounds">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if(!currentUser){ %>
        <li class="nav-item <%= typeof page !== 'undefined' && page == 'login' ? 'active' : '' %>">
          <a class="nav-link "href="/login">Login</a>
        </li>
        <li class="nav-item <%= typeof page !== 'undefined' && page == 'register' ? 'active' : '' %>">
          <a class="nav-link"href="/register">Sign Up</a>
        </li>
        <% }else{ %>
        <li class="nav-item active">
          <a class="nav-link">Currently signed in as: <%= currentUser.username %></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"href="/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </ul>
  </div>
</nav>

<div class="container">
  <% if(error && error.length > 0){ %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %>

  <% if(success && success.length > 0){ %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %>
</div>

<section>
